
<aside class="main-navigation">
    <div class="main-menu">


        
        <div class="menu-container">                                
            <div class="block-keep-ratio  block-keep-ratio-1-1  block-width-half  pull-left  about-main">                                    
                <a href="https://github.com/Spirent/iTest-assets" class="main-menu-link about block-keep-ratio__content flexbox-center">
                    <i class="fa fa-github fa-4x main-menu-link-icon"></i>
                    View on GitHub
                </a>                                    
            </div>

            <div class="block-keep-ratio  block-keep-ratio-1-1  block-width-half  pull-right  contact-main">
                
                <a href="https://spirent.github.io/Velocity-assets/" class="main-menu-link contact block-keep-ratio__content flexbox-center">
                    <i class="fa fa-4x main-menu-link-icon">
                        <img src="assets/images/g3638.white.png">
                    </i>
                    Velocity Catalog
                </a>                                
            </div>    
        </div>   

        <div class="menu-container">
            <div class="block-keep-ratio block-keep-ratio-1-1 block-width-full">                                    
                <div class="searchbox block-keep-ratio__content">
                    <div class="flexbox-center main-menu-text">Find Projects</div>
         
            <div class="col-sm-12 contact_left">        
                <form class="form-horizontal" method="post" action="#">

                    <div>
                        <i class="fa fa-search fa-searchbox form-control-icon"></i>
                        <input type="text" class="form-control" id="search" name="name" placeholder="Search..." value="">
               
                    </div>
                    
                    <div > 
                        <i class="fa fa-filter fa-searchbox form-control-icon"></i>
                        <select id="categorySelection" class="form-control">
                          <option value="all">All Categories</option>
                          <option value="library">Libraries</option>
                          <option value="framework">Frameworks</option>
                          <option value="automation">Automation</option>
                        </select>
                            
                    </div>
                    
                    <div > 
                        <i class="fa fa-filter fa-searchbox form-control-icon"></i>
                        <select id="classSelection" class="form-control">
                          <option value="all">All Classifications</option>
                          <option value="Community">Community</option>
                          <option value="Reference">Reference</option>
                          <option value="Tested by Spirent">Tested by Spirent</option>
                        </select>
                        
                    </div> 
                    
                    <div class="flexbox-center main-menu-text" id="numDisplayed">
                    </div>

            
                
                </form>    
            </div> <!-- .contact-left -->
                    
                                               
            </div>                                
        </div>

 
    </div> 
        <!-- main-menu -->
    </div>
    

</aside> <!-- main-navigation -->
